@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Primary Brand Colors */
  --color-bg-deep: #1A1614;
  /* Deep Charcoal */
  --color-primary: #8C4A32;
  /* Burnt Sienna */
  --color-accent-warm: #D9A05B;
  /* Golden Ember */

  /* Secondary & Neutral Colors */
  --color-accent-cool: #A8B9B9;
  /* Misty Slate */
  --color-support-rose: #B58271;
  /* Dusty Rose */

  /* Functional Variations */
  --text-main: #F5F5F5;
  --text-muted: var(--color-accent-cool);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

/* Magnetic Button Styles */
.btn-magnetic {
  font-size: 1em;
  position: relative;
  z-index: 20;
}

.btn-magnetic__click {
  cursor: pointer;
  border-radius: 4em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #ff720d;
  backdrop-filter: blur(10px);
}

.btn-magnetic__fill {
  background-color: #ff720d;
  /* Brand Primary */
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

.btn-magnetic__click:hover .btn-magnetic__fill {
  transform: translateY(0%);
}

.btn-magnetic__content {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: .75em 2.5em;
  display: flex;
  position: relative;
  z-index: 2;
}

.btn-magnetic__text {
  position: relative;
  overflow: hidden;
  height: 1.5em;
}

.btn-magnetic__text-p {
  color: #F5F5F5;
  /* Brand Text Main */
  text-align: center;
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
}

.btn-magnetic__text-p.is--duplicate {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

/* Hover */
.btn-magnetic__click .btn-magnetic__text-p {
  transition: all 0.6s cubic-bezier(0.625, 0.05, 0, 1);
  transform: translateY(0%) rotate(0.001deg);
}

.btn-magnetic__click:hover .btn-magnetic__text-p {
  transform: translateY(-100%) rotate(0.001deg);
}